<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <h1 class="">ADMIN PANEL</h1>
    <a class="go-main" href="/">Go to Main Page!!!!!!</a>
    <form class="form-upload" action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
      </form>
</body>
</html>