<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>выавыавы!!!</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="flex">
        <form class="form" id="myForm">
            <label for="login">Login:</label><br>
            <input type="text" id="login" name="login"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    
        <div class="banana-box"><img class="banana-img" src="/img/banana.png" alt=""></div>
    </div>


      <script src="/js/login.js"></script>
</body>
</html>